.App {
  text-align: center;
  background-color: #1d1d1d;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.item {
  flex: 1;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
}

.item img {
  width:320px;
  height: 480px;
}


.overlay {
  transition: bottom ease 0.5s;  
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  background-color: rgba(29,29,29,0.5);
  color: #fff;
}



.item:hover .overlay {
  bottom: 0;
}


@media only screen and (max-width: 600px) {

  .container {
    flex-direction: column;
  }

}





