.App {
  text-align: center;
  background-color: #1d1d1d;
 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;

}

.item {
  flex: 1;
  
}

.item img {
  width:320px;
  height: 480px;
}



@media only screen and (max-width: 600px) {

  .container {
    flex-direction: column;
  }

}





